@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:500&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1320px;
  margin: 0px auto;
}
@media (max-width: 1332px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Work Sans";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #A53DFF;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (min-width: 767.98px) {
  ._btn:hover {
    background-color: #8434ca;
  }
}

._title {
  font-weight: 600;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.header__container {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .header__container {
    height: 70px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__avatar {
  padding: 0px 20px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 233%;
  background-color: #A53DFF;
  border-radius: 50%;
  color: #fff;
}

.logo__text {
  margin: 0px 0px 0px 12px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #132238;
  -webkit-text-stroke: 1px #000;
}
@media (max-width: 991.98px) {
  .logo__text {
    font-size: 28px;
  }
}

.menu__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin-left: 50px;
}
.menu__list li:first-child {
  margin-left: 0px;
}
@media (max-width: 991.98px) {
  .menu__list li {
    margin-left: 20px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.menu__link._btn {
  display: inline;
  color: #fff;
}
@media (max-width: 991.98px) {
  .menu__link._btn {
    padding: 10px 20px;
  }
}

@media (max-width: 767.98px) {
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__burger span,
.menu__burger::before,
.menu__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .menu__burger::before,
.menu__burger::after {
    content: "";
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    z-index: 4;
    padding: 200px 0px 50px 100px;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body._active .menu__link._btn {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px 0px 0px 0px;
  }
  .menu__burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    background-color: #fff;
  }
  .menu__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    background-color: #fff;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__list li {
    margin: 0px 0px 70px 0px;
  }
  .menu__list li:last-child {
    margin-bottom: 0px;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home {
  padding: 222px 0px 0px 0px;
  background-image: url(https://maevalar.github.io/Brooklyn/img/home/BG.png);
  background-size: cover;
}
@media (max-width: 767.98px) {
  .home {
    padding: 180px 0px 0px 0px;
  }
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 139px 0px;
}
@media (max-width: 767.98px) {
  .home__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 80px 0px;
  }
}

.home__content {
  padding: 52px 0px 0px 0px;
}

.home__info {
  max-width: 648px;
  margin: 0px 0px 142px 0px;
}
@media (max-width: 767.98px) {
  .home__info {
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .home__info {
    margin: 0px 0px 100px 0px;
  }
}

.home__title {
  margin: 0px 0px 40px 0px;
  font-size: 72px;
  line-height: 117%;
  color: #132238;
}
@media (max-width: 991.98px) {
  .home__title {
    font-size: 54px;
  }
}

.home__text {
  margin: 0px 0px 30px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #556070;
}

.home__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistic__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  padding: 17px 0px;
  background: rgba(237, 216, 255, 0.5);
  margin: 0px 0px 0px 2px;
  text-align: center;
}
.statistic__item:first-child {
  margin-left: 0px;
}
@media (max-width: 767.98px) {
  .statistic__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }
}
@media (max-width: 479.98px) {
  .statistic__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.statistic-item__title {
  margin: 0px 0px 8px 0px;
  font-size: 32px;
  line-height: 125%;
  color: #424E60;
}
@media (max-width: 479.98px) {
  .statistic-item__title {
    font-size: 24px;
  }
}

.statistic-item__text {
  font-size: 16px;
  line-height: 150%;
  color: #697484;
}

.home__image {
  margin: 0px 0px 0px 136px;
}
@media (max-width: 991.98px) {
  .home__image {
    margin: 0px 0px 0px 20px;
  }
}
@media (max-width: 767.98px) {
  .home__image {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .home__image {
    font-size: 14px;
  }
}

.home__image img {
  max-width: 100%;
  border-radius: 25px;
}

.about {
  padding: 112px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
          box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
  background-color: #fff;
  -webkit-transform: translate(0px, 83px);
          transform: translate(0px, 83px);
}
@media (max-width: 767.98px) {
  .about {
    padding: 50px 15px;
  }
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1332px) {
  .about__image {
    margin: 0px 50px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .about__image {
    margin: 0px 0px 0px 0px;
  }
}

.about__image img {
  max-width: 100%;
}

.socials {
  max-width: 264px;
  margin: 0px auto;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
          box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  background-color: #fff;
  border-radius: 4px;
  -webkit-transform: translate(0px, -36px);
          transform: translate(0px, -36px);
}
.socials a {
  padding: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 4px;
  color: #A53DFF;
}
@media (min-width: 767.98px) {
  .socials a:hover {
    background-color: #A53DFF;
    color: #fff;
  }
}
@media (max-width: 479.98px) {
  .socials a {
    padding: 0px 15px;
  }
}
@media (max-width: 479.98px) {
  .socials {
    -webkit-transform: translate(0px, -26px);
            transform: translate(0px, -26px);
  }
}

.about__content {
  max-width: 536px;
}
@media (max-width: 767.98px) {
  .about__content {
    text-align: center;
  }
}

.about__title {
  margin: 0px 0px 35px 0px;
  font-size: 38px;
  line-height: 132%;
  color: #132238;
}
@media (max-width: 479.98px) {
  .about__title {
    font-size: 32px;
  }
}

.about__text {
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
}
.about__text span {
  display: inline-block;
  margin: 0px 0px 16px 0px;
}
.about__text span:last-child {
  margin: 0px 0px 32px 0px;
}

.about__button:last-child {
  margin: 0px 0px 0px 25px;
  background-color: #fff;
  border: 1px solid #A53DFF;
  color: #A53DFF;
}
@media (max-width: 991.98px) {
  .about__button:last-child {
    margin: 25px 0px 0px 0px;
  }
}
@media (min-width: 767.98px) {
  .about__button:last-child:hover {
    background-color: rgb(226, 226, 226);
  }
}

.process {
  padding: 248px 0px 140px 0px;
  background-color: #F0F1F3;
}
@media (max-width: 767.98px) {
  .process {
    padding: 248px 0px 50px 0px;
  }
}

.process__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .process__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.process__content {
  max-width: 529px;
}
@media (max-width: 991.98px) {
  .process__content {
    margin: 0px 0px 50px 0px;
  }
}

.process__title {
  margin: 0px 0px 30px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #132238;
}
@media (max-width: 991.98px) {
  .process__title {
    text-align: center;
  }
}

.process__text {
  font-size: 18px;
  line-height: 133%;
  color: #697484;
}
.process__text span {
  display: inline-block;
  margin: 0px 0px 20px 0px;
}
.process__text span:last-child {
  margin-bottom: 0px;
}
@media (max-width: 991.98px) {
  .process__text {
    text-align: center;
  }
}

.process__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 479.98px) {
  .process__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.process__column {
  margin: 0px 24px 24px 0px;
}
.process__column:last-child {
  margin: 24px 0px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .process__column {
    margin: 0px 0px 0px 0px;
  }
  .process__column:last-child {
    margin: 0px 0px 0px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.process-column__item {
  max-width: 312px;
  padding: 32px;
  margin: 0px 0px 24px 0px;
  background-color: #fff;
  border-radius: 12px;
  color: #A53DFF;
  font-size: 26px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.process-column__item div:first-child {
  max-width: 72px;
  padding: 22px 22px 18px 22px;
  margin: 0px 0px 32px 0px;
  background-color: rgba(237, 216, 255, 0.5);
  border-radius: 6px;
}
.process-column__item ._icon-note {
  background-color: rgba(0, 0, 0, 0) !important;
}
@media (min-width: 767.98px) {
  .process-column__item:hover {
    -webkit-box-shadow: 0px 0px 124px rgba(43, 56, 76, 0.23);
            box-shadow: 0px 0px 124px rgba(43, 56, 76, 0.23);
  }
}

.culumn__title {
  margin: 0px 0px 12px 0px;
  font-size: 20px;
  line-height: 120%;
  color: #132238;
}

.column__text {
  font-size: 16px;
  line-height: 150%;
  color: #556070;
}

.portfolio {
  padding: 100px 0px;
}

.portfolio__title {
  margin: 0px 0px 30px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #132238;
  text-align: center;
}

.portfolio__subtitle {
  max-width: 577px;
  margin: 0px auto 75px auto;
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
  text-align: center;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  max-width: 424px;
  margin: 0px 0px 24px 24px;
  border: 1px solid #E6E8EB;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.portfolio__item:nth-child(1) {
  margin-left: 0px;
}
@media (max-width: 991.98px) {
  .portfolio__item:nth-child(2) {
    margin-left: 0px;
  }
}
.portfolio__item:nth-child(3) {
  margin-left: 24px;
}
@media (max-width: 1332px) {
  .portfolio__item:nth-child(3) {
    margin-left: 0px;
  }
}
.portfolio__item:nth-child(4) {
  margin-left: 0px;
}
@media (max-width: 1332px) {
  .portfolio__item:nth-child(4) {
    margin-left: 24px;
  }
}
@media (max-width: 991.98px) {
  .portfolio__item:nth-child(4) {
    margin-left: 0px;
  }
}
.portfolio__item:nth-child(5) {
  margin-left: 24px;
}
@media (max-width: 1332px) {
  .portfolio__item:nth-child(5) {
    margin-left: 0px;
  }
}
@media (max-width: 991.98px) {
  .portfolio__item:nth-child(6) {
    margin-left: 0px;
  }
}
@media (min-width: 767.98px) {
  .portfolio__item:hover {
    -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
            box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  }
}

.portfolio__item img {
  max-width: 100%;
}

.portfolio-item__content {
  padding: 32px;
}

.portfolio-item__category {
  margin: 0px 0px 5px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #87909D;
}

.portfolio-item__title {
  margin: 0px 0px 15px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #132238;
}

.portfolio-item__text {
  margin: 0px 0px 20px 0px;
  font-size: 14px;
  line-height: 143%;
  color: #556070;
}

.portfolio-item__button {
  max-width: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-item__button ._icon-arrow-right {
  margin: 2px 0px 0px 0px;
}

.portfolio__button {
  max-width: 149px;
  display: block;
  margin: 26px auto 0px auto;
}

.idea {
  padding: 100px 0px;
  background-color: #132238;
}

.idea__container {
  max-width: 619px;
}

.idea__title {
  margin: 0px 0px 35px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #fff;
  text-align: center;
}
@media (max-width: 479.98px) {
  .idea__title {
    font-size: 32px;
  }
}

.idea__text {
  margin: 0px 0px 35px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #A5ACB5;
  text-align: center;
}

.idea__button {
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.idea__button ._icon-arrow-right {
  margin: 5px 0px 0px 18px;
}

.blog {
  padding: 100px 0px;
}

.blog__title {
  margin: 0px 0px 30px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #132238;
  text-align: center;
}

.blog__subtitle {
  max-width: 540px;
  margin: 0px auto 75px auto;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: #87909D;
}

.blog-slider__wrapper {
  margin: 0px 0px 80px 0px;
}

.blog-slider__slide .slide {
  display: block;
  margin: 0px auto;
  max-width: 312px;
  border: 1px solid #F0F1F3;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.blog-slider__slide .slide .slide__image img {
  border-radius: 8px 8px 0px 0px;
  max-width: 100%;
}
.blog-slider__slide .slide .slide__content {
  padding: 24px;
}
.blog-slider__slide .slide .slide__content .slide__date {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 143%;
  color: #87909D;
}
.blog-slider__slide .slide .slide__content .slide__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #333333;
}
@media (min-width: 767.98px) {
  .blog-slider__slide .slide:hover {
    -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
            box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  }
}

.swiper-pagination-bullet {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  background-color: #210C33;
}

.skills {
  padding: 150px 0px;
  background-color: #F0F1F3;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .skills__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills__content {
  max-width: 529px;
}
@media (max-width: 991.98px) {
  .skills__content {
    padding: 0px 30px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .skills__content {
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
  }
}

.skills__title {
  margin: 0px 0px 30px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #333333;
}

.skills__text {
  margin: 0px 0px 55px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
}
.skills__text span {
  display: block;
  margin: 0px 0px 20px 0px;
}

.skills__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.skills__item {
  padding: 32px;
  margin: 0px 0px 24px 0px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.skills__item:last-child {
  margin-bottom: 0px;
}
.skills__item._active {
  border-left: 5px solid #A53DFF;
  -webkit-box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
          box-shadow: 0px 32px 96px rgba(28, 25, 25, 0.16);
}

.skills-item__title {
  margin: 0px 0px 20px 0px;
  font-size: 24px;
  line-height: 100%;
  color: #132238;
}

.skills-item__text {
  font-size: 16px;
  line-height: 150%;
  color: #556070;
}

.clients {
  padding: 100px 0px 182px 0px;
}

.clients__title {
  margin: 0px 0px 30px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #132238;
  text-align: center;
}

.clients__text {
  max-width: 577px;
  margin: 0px auto 112px auto;
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
  text-align: center;
}

.clients__icons {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.clients__icons a {
  display: block;
}
@media (max-width: 991.98px) {
  .clients__icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients__icons a {
    margin: 24px 0px 0px 30px;
  }
}

.testimonial__title {
  margin: 0px 0px 30px 0px;
  font-size: 48px;
  line-height: 117%;
  color: #333333;
  text-align: center;
}

.testimonial__text {
  max-width: 577px;
  margin: 0px auto 70px auto;
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
  text-align: center;
}

.testimonial__slider {
  margin: 0px 0px 100px 0px;
}

.testimonial-slider__wrapper {
  padding: 0px 0px 80px 0px;
}

.testimonial__slide .slide {
  margin: 0px auto;
  max-width: 872px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.slide__text {
  margin: 0px 0px 30px 0px;
  line-height: 133%;
  color: #2B384C;
}

.slide__name {
  margin: 0px 0px 10px 0px;
  line-height: 144%;
  color: #000;
}

.slide__post {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

.discuss {
  padding: 88px;
  -webkit-box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  -webkit-transform: translate(0px, 60px);
          transform: translate(0px, 60px);
  background-color: #fff;
}
@media (max-width: 767.98px) {
  .discuss {
    padding: 50px;
  }
}
@media (max-width: 479.98px) {
  .discuss {
    padding: 20px;
  }
}

.discuss__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .discuss__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.discuss__content .socials {
  margin: 0px 0px 0px 0px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
@media (max-width: 767.98px) {
  .discuss__content {
    margin: 0px 0px 50px 0px;
  }
}

.discuss__title {
  margin: 0px 0px 25px 0px;
  font-size: 38px;
  line-height: 132%;
  color: #132238;
}

.discuss__text {
  margin: 0px 0px 40px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
}

.map__item {
  max-width: 336px;
  margin: 0px 0px 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.map__item:last-child {
  margin-bottom: 0px;
}
@media (min-width: 767.98px) {
  .map__item:hover {
    -webkit-box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
            box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
  }
  .map__item:hover ._icon-map {
    background-color: #A53DFF;
    color: #fff;
  }
}

._icon-map {
  display: block;
  padding: 14px 12px 10px 12px;
  background-color: rgba(237, 216, 255, 0.5);
  font-size: 24px;
  color: #A53DFF;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.map-item__info {
  margin: 0px 0px 0px 13px;
}

.map-item__category {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 143%;
  color: #424E60;
  text-align: left;
}

.map-item__value {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #132238;
}

.discuss__entry {
  margin: 0px 0px 0px 83px;
}
@media (max-width: 767.98px) {
  .discuss__entry {
    margin: 0px 0px 0px 0px;
  }
}

.discuss-entry__text {
  margin: 0px 0px 50px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #87909D;
}

.form input {
  width: 100%;
  display: block;
  margin: 0px 0px 24px 0px;
  padding: 0px 0px 20px 0px;
  font-size: 18px;
  line-height: 133%;
  color: #697484;
  border-bottom: 2px solid #E6E8EB;
}
.form input:last-child {
  margin: 0px 0px 50px 0px;
}
.form input:focus {
  border-bottom: 2px solid #A53DFF;
}
.form input:focus::-webkit-input-placeholder {
  color: #A53DFF;
}
.form input:focus::-moz-placeholder {
  color: #A53DFF;
}
.form input:focus:-ms-input-placeholder {
  color: #A53DFF;
}
.form input:focus::-ms-input-placeholder {
  color: #A53DFF;
}
.form input:focus::placeholder {
  color: #A53DFF;
}

.input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.input-flex input:last-child {
  margin-left: 24px;
}

.discuss__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 141px;
}
@media (max-width: 767.98px) {
  .discuss__button {
    margin: 0px auto;
  }
}

._icon-send {
  padding: 2px 0px 0px 0px;
  margin-left: 14px;
  font-size: 20px;
}

.footer {
  height: 305px;
  padding: 0px 0px 57px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #2B384C;
}

.footer__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container .logo__text {
  color: #fff;
  -webkit-text-stroke: 0px #000;
}
@media (max-width: 991.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container div {
    margin: 0px 0px 20px 0px;
  }
  .footer__container div:last-child {
    margin: 0px 0px 0px 0px;
  }
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-menu__list .menu__link {
  font-size: 16px;
  line-height: 150%;
  color: #F0F1F3;
}
@media (max-width: 560px) {
  .footer-menu__list {
    display: none;
  }
}

.footer-menu__list li {
  margin-left: 24px;
}
.footer-menu__list li:first-child {
  margin-left: 0px;
}

.copyright {
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}